html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

/* ------------ HEADER ------------ */
.navbar {
    padding:0;
}

.nav-item {
    text-decoration: none; important!
    color: white;
}

header {
    box-sizing: border;
    min-height: 100vh;
    padding: 20vw 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("https://images.unsplash.com/photo-1455461491901-a0990c10d84c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ceed96179839c9b9ec7c528645e68d0&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2.1);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: normal;
    letter-spacing: .2em;
    text-align: center;
    margin: 0;
    padding: 1;
}

/* ------------ BODY ------------ */

.content-title {
    padding: 0 0 30px 0;
    text-align: center;
}


/* ------------ PROJECT SECTION ------------ */
.projects {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
}

.projects h2 {
    color: black;
}

.project-box {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 0px;
}

.project-box:hover {
    /* background-color: #ffa366; */
}

.project-box img {
    padding-bottom: 25px;
    width: 90%;
    height: 230px;
}

.projects a {
    color: #000000;
    text-decoration: none!important;
}

.project-title {
    padding-top: 15px;
    padding-bottom: 15px;
}


.project-footer {
    padding: 10px;
}

.project-footer:hover {
    /*color: #ffffff;*/
    background-color: #ffffff;
}

/* ------------ PHOTOGRAPHY SECTION ------------ */
.photography {
    padding: 50px 0 50px 0;
    color: #ffffff;
}

.photo-gallery {
    width: 100%;
    white-space: nowrap;
    overflow: visible;
    overflow-x: scroll;
}

.photo {
    height: 500px;
    width: max;
    display: inline-block;
    object-fit: scale-down;
}


/* ------------ VIDEOGRAPHY SECTION ------------ */
.videography {
    padding-top:50px;
    padding-bottom: 30px;
    color: #ffffff;
    background-color: #ffa366;
}

.video-gallery {

}

/*.videography:hover {
    color: #ffffff;
    background-color: #b3b3b3;
}*/



/* ------------ FOOTER ------------ */
.footer {
    background-color: #ffffff;
    padding-top: 60px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.footer h2 {
    color: #b3b3b3;
}
.footer-links {
    color: #b3b3b3;
    margin-right: 25px;
}

.footer-links:hover {
    text-decoration: none;
    color: #ffa366;
}

a.letstalk {
    color: #ffa366
}

a.letstalk:hover {
    text-decoration: none;
    color: #b3b3b3;
}

.copy {
    background-color: #ffffff;
    color:  black;
    padding: 30px;
}
