body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* --- HEADER --- */
.nav-link {
    color: #ffa366;
}

.nav-link:hover {
    color: #b3b3b3;
}

/* --- BODY --- */

.parallax {
     /* The image used */
    background-image: url("https://images.unsplash.com/photo-1517179465283-0221aea1d382?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=faeedfc8042fa24be161474dbcb5b065&auto=format&fit=crop&w=800&q=60");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.parallax h1 {
    padding: 10px;
    color: #ffffff;
    margin: 200px;
    outline: solid;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.jumbotron {
    margin: 40px;
    background: none;
    /*background-color: #ffffff;*/
}

.content {
    /* outline: solid; */
    padding-top: 50px;
    padding-bottom: 30px;
}

.content-title {
    padding-bottom: 25px;
    text-align: center;
}


/* PROJECT SECTION */
.project-box {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 0px;
}

.project-box:hover {
    /* background-color: #ffa366; */
}

.content a {
    color: #000000;
    text-decoration: none!important;
}

.project-title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.project-box img {
    padding-bottom: 25px;
    width: 90%;
    height: 230px;
}

.project-footer {
    padding: 10px;
}

.project-footer:hover {
    color: #ffffff;
    background-color: #ffa366;
}

/* PHOTOGRAPHY SECTION */
#photography {
    color: #ffffff;
}

/* VIDEOGRAPHY SECTION */
#videography {
    color: #ffffff;
    background-color: #ffa366;
}

#videography:hover {
    color: #ffffff;
    background-color: #b3b3b3;
}




/* --- FOOTER --- */
.footer {
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 60px;
}
.footer-links {
    color: #b3b3b3;
    margin-right: 25px;
}

.footer-links:hover {
    text-decoration: none;
    color: #ffa366;
}

a.letstalk {
    color: #ffa366
}

a.letstalk:hover {
    text-decoration: none;
    color: #b3b3b3;
}

.copy {
    padding: 30px;
}
